.App {
  text-align: center;
}

textarea.title {
  width: 300px;
  height: 15px;
}
.score {
  width: 50px;
  height: 15px;
}
.review {
  width: 500px;
  height: 100px;
}

ul.review {
  margin-left: 400px;
}
